[submodule "avr/rotor_control/rotor_control/avr-ds18b20"]
	path = avr/rotor_control/rotor_control/avr-ds18b20
	url = https://github.com/Jacajack/avr-ds18b20
[submodule "avr/rotor_control/rotor_control/BME280_driver"]
	path = avr/rotor_control/rotor_control/BME280_driver
	url = https://github.com/BoschSensortec/BME280_driver

[submodule "esp32/genvex_rotor/main/BME280_driver"]
	path = esp32/genvex_rotor/main/BME280_driver
	url = https://github.com/BoschSensortec/BME280_driver
[submodule "esp32/genvex_rotor/components/esp32-ds18b20"]
	path = esp32/genvex_rotor/components/esp32-ds18b20
	url = https://github.com/DavidAntliff/esp32-ds18b20
[submodule "esp32/genvex_rotor/components/esp32-owb"]
	path = esp32/genvex_rotor/components/esp32-owb
	url = https://github.com/DavidAntliff/esp32-owb
